@charset "UTF-8";
form {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0 auto; }

#registration-box {
  max-width: 900px;
  padding: 50px 75px; }

.form-title {
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px; }

.form-error {
  color: red; }

label {
  display: block;
  margin-bottom: 8px; }

.button-container {
  margin: 0px auto;
  width: 340px; }
  .button-container button,
  .button-container a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .button-container button.login-form {
    display: inline-block;
    margin: 8px 8px 20px 8px; }

label > span {
  float: left;
  width: 100px;
  color: #a3334c;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff; }

fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #FFD2D2;
  padding: 20px;
  background: #FFF4F4;
  box-shadow: inset 0px 0px 15px #FFE5E5;
  -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
  -webkit-box-shadow: inset 0px 0px 15px #FFE5E5; }

fieldset legend {
  color: #FFA0C9;
  border-top: 1px solid #FFD2D2;
  border-left: 1px solid #FFD2D2;
  border-right: 1px solid #FFD2D2;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #FFF4F4;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #F1F1F1;
  -moz-box-shadow: -0px -1px 2px #F1F1F1;
  -webkit-box-shadow: -0px -1px 2px #F1F1F1;
  font-weight: normal;
  font-size: 12px; }

input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=email],
select,
textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #b17f89;
  outline: none;
  color: #7b2739;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #be959d;
  -moz-box-shadow: inset 1px 1px 4px #be959d;
  -webkit-box-shadow: inset 1px 1px 4px #be959d;
  background: #f2eaec;
  width: 100%;
  height: 35px;
  font-size: 14px;
  margin-bottom: 15px; }

textarea {
  height: 150px; }

select {
  width: 50%; }

input[type=button]
input[type=submit],
button {
  margin: 15px; }

.required {
  color: red;
  font-weight: normal; }

input[type=radio] {
  position: absolute; }

input[type=checkbox]:not(old),
input[type=radio]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em; }

input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
  display: inline-block;
  line-height: 1.5em; }

input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid silver;
  border-radius: 0.25em;
  background: #e0e0e0;
  background-image: -moz-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: -webkit-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: linear-gradient(#f0f0f0, #e0e0e0);
  vertical-align: bottom; }

input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: -ms-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: -o-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: -webkit-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: linear-gradient(#e0e0e0, #f0f0f0); }

input[type=checkbox]:not(old):checked + label > span:before {
  content: '✓';
  display: block;
  width: 1em;
  color: #99cc66;
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 0.0714em #73994d;
  font-weight: bold; }

input[type=radio]:not(old):checked + label > span > span {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.125em;
  border: 0.0625em solid #73994d;
  border-radius: 0.125em;
  background: #99cc66;
  background-image: -moz-linear-gradient(#b3d98c, #99cc66);
  background-image: -ms-linear-gradient(#b3d98c, #99cc66);
  background-image: -o-linear-gradient(#b3d98c, #99cc66);
  background-image: -webkit-linear-gradient(#b3d98c, #99cc66);
  background-image: linear-gradient(#b3d98c, #99cc66); }

@media only screen and (max-width: 768px) {
  span.drink-type-imgs-container {
    display: inline-block;
    padding-left: 20px; }
  span.drink-type-imgs-container:first-child {
    padding-left: 20px; }
  #registration-box {
    padding: 45px 30px; } }

@media only screen and (max-width: 568px) {
  img.radio-avatar {
    margin-left: 20px; } }
