$burgundy: #7b2739;
$dk-burgundy: #491722;
$lt-tan: #f3f2e1;

.landing {
  h1,
  p,
  li {
    color: #2f0f16;
  }
}
.video-container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  max-width: 100%;
  margin-top: 50px;
  background-color: $lt-tan;
  video.wine-pour-desktop,
  img.wine-pour-mobile {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
  }
  img.wine-pour-mobile {
    display: none;
  }
  /* overlay position and dimensions in main.scss */
  .overlay {
    background: rgba(123, 39, 57, 0.5); /*dark burgundy*/
  }
}
.background-img {
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  position: fixed;
  left: 0;
  bottom: 0px;
  z-index: -1;
  opacity: 0.4;
  background: url("/media/barrels.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#homepage-logo {
  font-weight: 800;
  font-size: 100px;
  padding-bottom: 40px;
  display: block;
  text-shadow: 1px 1px 5px black;
}
.homepage-descriptions-container > section {
  height: 100%;
  overflow: hidden;
  text-align: center;
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .overlay {
    background-color: rgba(161, 115, 76, 0.6); /* brown */
  }
  .section-container {
    margin: 80px auto;
    max-width: 950px;
    min-height: 100%;
  }
  div.glassware-container {
    width: 100%;
    height: 800px;
    max-height: 50vh;
    background: url("/media/glasses.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center bottom;
  }
}
.homepage-descriptions-container > section:nth-child(odd) {
  background-color: $lt-tan;

  .section-container {
    margin-bottom: 75px;
  }
  h1,
  p {
    text-shadow: 2px 2px 8px #a9a9a9;
  }
}
.homepage-descriptions-container > section:nth-child(even) {
  h1 {
    font-weight: 800;
    text-shadow: 4px 4px 45px $lt-tan;
  }
}
.homepage-descriptions-container > section:nth-child(3) {
  box-shadow: 0 0 5px 10px #f3f2e1;
}

#do-even-more-container {
  /* To account for the footer */
  .section-container {
    padding-bottom: 75px;
  }
  h1 {
    font-size: 30px;
    font-weight: 600;
  }
  li {
    padding-left: 20px;
    text-indent: -25px;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    text-shadow: 4px 4px 40px $lt-tan;
    i {
      margin-right: 10px;
    }
  }
  ul {
    display: inline-block;
  }
  a {
    display: block;
    width: 165px;
    padding: 30px 0;
  }
}
#edging {
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgba(243, 242, 225, 1)
  );
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0;
}
.love-hate {
  padding-top: 2em;
  font: normal 30px/50px Montserrat, sans-serif;
  text-align: left;
  display: inline-block;
}
.love-hate p {
  height: 50px;
  font-size: 30px;
  float: left;
  margin-right: 0.3em;
}
.love-hate b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}
.love-hate .inner-love-hate {
  text-align: left;
  font-size: 30px;
  display: inline-block;
  color: $burgundy;
  opacity: 0.8;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  text-shadow: 2px 2px 8px #a9a9a9;

  /*animation*/
  -webkit-animation: move 5s;
  -moz-animation: move 5s;
  -ms-animation: move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  33% {
    top: -50px;
  }
  67% {
    top: -100px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  33% {
    top: -50px;
  }
  67% {
    top: -100px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  33% {
    top: -50px;
  }
  67% {
    top: -100px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  33% {
    top: -50px;
  }
  67% {
    top: -100px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  33% {
    top: -50px;
  }
  67% {
    top: -100px;
  }
}

.fa-angle-down {
  position: absolute;
  left: 48%;
  bottom: 20px;
  width: 50px;
  height: 50px;
  color: $lt-tan;
  opacity: 0.7;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*
*   RESPONSIVE DESIGN ADJUSTMENTS
*/

// For screens with a EXTRA-LARGE screen size or smaller
@media only screen and (max-width: 1280px) {
  .video-container {
    height: 620px;
  }
  div.glassware-container {
    height: 700px;
  }
}

// For screens with a LARGE screen size or smaller
@media only screen and (max-width: 1024px) {
  .video-container {
    height: 500px;
  }
  .homepage-descriptions-container > section {
    .section-container {
      margin: 80px 8% 100px 8%;
    }
    div.glassware-container {
      height: 500px;
    }
  }
}

// For screens with a MEDIUM screen size or smaller
@media only screen and (max-width: 768px) {
  #do-even-more-container {
    ul {
      margin-left: 5%;
    }
    li {
      font-size: 25px;
      margin-left: 3%;
      padding-bottom: 10px;
    }
  }
  .homepage-descriptions-container > section {
    h1 {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }
  .homepage-descriptions-container > section:first-child {
    .section-container {
      margin-bottom: 75px;
    }
    div.glassware-container {
      height: 420px;
    }
  }
}

//For the scrolling animation in section 3
@media only screen and (max-width: 670px) {
  .love-hate p,
  .love-hate b {
    width: 100%;
  }
  .love-hate .inner-love-hate {
    text-align: center;
    width: 100%;
  }
  .homepage-descriptions-container > section:first-child {
    .section-container {
      margin-bottom: 75px;
    }
    div.glassware-container {
      height: 350px;
    }
  }
}

// For screens with a EXTRA-SMALL screen size or smaller
@media only screen and (max-width: 568px) {
  .homepage-descriptions-container > section {
    h1 {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .homepage-descriptions-container > section:first-child {
    .section-container {
      margin-bottom: 45px;
    }
    div.glassware-container {
      height: 300px;
    }
  }
  #do-even-more-container {
    h1 {
      font-size: 25px;
    }
    li {
      font-size: 20px;
    }
  }
  #homepage-logo {
    font-size: 75px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .homepage-descriptions-container > section:first-child {
    .section-container {
      margin-top: 50px;
      margin-bottom: 20px;
    }
    #homepage-logo {
      font-size: 55px;
      padding-bottom: 8px;
    }
    div.glassware-container {
      height: 240px;
    }
  }
}
@media only screen and (min-width: 1800px) {
  .video-container {
    height: 78vh;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .video-container {
    height: 60vh;
  }
}

/*The following are @media JUST for sizing of video*/
@media only screen and (max-width: 1100px) {
  .video-container {
    height: 560px;
    .fa-angle-down {
      display: none;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .video-container {
    height: 515px;
  }
}
@media only screen and (max-width: 900px) {
  .video-container {
    height: 450px;
  }
}
@media only screen and (max-width: 800px) {
  .video-container {
    height: 400px;
  }
}
@media only screen and (max-width: 700px) {
  .video-container {
    height: 370px;
  }
}
@media only screen and (max-width: 650px) {
  .video-container {
    height: 340px;
  }
}
@media only screen and (max-width: 600px) {
  .video-container {
    height: 300px;
  }
}
@media only screen and (max-width: 550px) {
  .video-container {
    height: 270px;
  }
}
@media only screen and (max-width: 475px) {
  .video-container {
    height: 260px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 425px) {
  .video-container {
    height: 230px;

    img.wine-pour-mobile {
      display: initial;
    }
    .wine-pour-desktop {
      display: none;
    }
  }
}
@media only screen and (max-width: 375px) {
  .video-container {
    margin-top: 44px;
    height: 190px;
    video {
      min-height: 200px;
    }
  }
}
