$burgundy: #7b2739;
$lt-tan: #f3f2e1;
$tan: #d8a35d;
$sage: #98a995;

* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: $lt-tan;
}

.fullscreen-video-wrap{
  width:100%;
  height:100%;
  overflow: hidden;

  video{
    width:100%;
  }
}
//TODO fix positioning
.overlay {
  position:fixed;
  top:100px;
  left:0px;
  width:100vw;
  height:55vh;
  background-color: $burgundy;
  opacity: 0.5;
}



// TODO get rid of this
img {
  height:125px;
  float: right;
}

.box {
  padding: 50px 20px;
  width:55%;
  max-width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #F9F9F1;//off-white
  color:$burgundy;
  border-radius: 15px;
}

.black-screen {
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color:rgba(0,0,0,0.7)
}
.modal {
  // position:fixed;
  // top:10%;
  margin:0 auto;
  padding:50 auto;
  width:55%;
  max-width: 700px;
  background-color:#F9F9F1;//off-white
  color:$burgundy;
  padding:50px;

  .fa-window-close-o {
    position:relative;
    float: right;
    z-index: 1;
    color: $burgundy;
  }
}




footer {
	background: $burgundy;
  color: white;
	width:100%;
	min-height:75px;
	position:absolute;
	bottom:0;
	left:0;
  z-index:-1;
}
