@charset "UTF-8";
html {
  height: 100%; }

* {
  box-sizing: border-box; }

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  background-color: #f3f2e1;
  position: relative;
  height: 100%;
  min-width: 320px; }
  body #root, body div, body span, body p, body h1, body h2, body h3, body h4, body a, body tr, body li, body button {
    font-family: 'Montserrat', sans-serif, arial; }

a, p {
  word-wrap: break-word; }

h1, h2, h3, h4, p {
  margin-top: 0px;
  margin-bottom: 10px;
  word-wrap: break-word; }

h2 {
  font-size: 20px;
  font-weight: 600; }

h3 {
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px; }

a {
  color: #a3334c; }

a:visited {
  color: #8e6022; }

a:hover {
  color: #d8a35d; }

tr {
  line-height: 18px; }

h3.biz-address {
  margin-bottom: 0; }

.pure-g {
  letter-spacing: normal; }

ul {
  list-style-type: none;
  line-height: 18px; }

ul.horizontal-list {
  overflow: hidden; }
  ul.horizontal-list li {
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none; }
    ul.horizontal-list li i {
      display: inline-block; }

li > span {
  font-weight: 600;
  padding-right: 10px; }

.left-align {
  text-align: left; }

.inline {
  display: inline-block; }

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .center-horizontal * {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

.padding-left {
  padding-left: 20px; }

.result-title {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-top: 7px; }

.result-title > a,
.result-title > h3 {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word; }

p.company-address {
  line-height: 1.5;
  word-wrap: break-word; }

#drink-info-title {
  display: inline;
  margin-right: 30px; }

.content-container {
  margin: 75px auto;
  max-width: 950px;
  min-height: 100%; }

.biz-img-container {
  width: 175px;
  padding-right: 20px; }

h2.page-title {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 30px;
  font-weight: 300; }

a.page-title {
  color: black;
  background: #d7bec3;
  border-radius: 3px; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%; }

div.rating {
  min-width: 50px;
  margin: 15px 0 15px 0px;
  display: inline-block; }

div.review-count {
  display: inline-block;
  margin-left: 12px; }

span.checked {
  color: #FFD700; }

span.unchecked {
  color: #a9a9a9; }

.box {
  margin: 30px auto;
  max-width: 950px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(255, 255, 255, 0.7);
  color: #7b2739;
  border-radius: 10px; }

.info-container {
  padding-left: 3%;
  padding-right: 3%;
  margin: 45px auto; }

.user-info-container * {
  display: block;
  margin: 10px auto;
  text-align: center; }

.user-info-container img {
  width: 150px; }

.dashboard-drink-header h1 {
  margin: 15px 15px 0 15px;
  display: inline-block; }

.dashboard-drink-header button {
  display: inline-block;
  float: right;
  top: 0; }

.drink-info-container {
  padding-bottom: 0px; }

.result-container {
  padding: 15px 25px; }

.col-user-rating {
  min-width: 110px;
  max-width: 115px; }

img.avatar-icon {
  max-height: 80px;
  display: block; }

img.drink-type {
  height: 30px;
  margin: 5px; }

div.image-border {
  width: 350px;
  height: 350px;
  background-image: url("/media/beer-flight.jpg");
  position: relative;
  z-index: 1;
  border-radius: 8px;
  margin: 20px; }
  div.image-border:after {
    content: '';
    position: absolute;
    width: 338px;
    height: 338px;
    left: 6px;
    top: 6px;
    background-color: #f3f2e1;
    border-radius: 8px; }
  div.image-border .main-image {
    position: absolute;
    width: 345px;
    height: 345px;
    left: 10px;
    top: 10px;
    background-image: url("/media/beer-flight.jpg");
    background-size: 350px 350px;
    background-position: center center;
    border-radius: 8px;
    top: -15px;
    left: -15px;
    z-index: 2;
    transition: .2s ease-in-out; }

img.company-result {
  max-width: 100%;
  border-radius: 5px; }

img.company {
  width: 100%;
  min-width: 275px;
  border-radius: 5px; }

.company-reviews-container {
  max-width: 300px; }
  .company-reviews-container span.drink-type-imgs-container {
    display: inline-block; }

span > img.drink-type {
  position: relative;
  top: 15px;
  left: 0; }

span.drink-type-imgs-container {
  display: block; }

div.drink-info-container > div.drink-type-imgs-container {
  float: left;
  margin-right: 25px; }

.black-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10; }

.modal {
  margin: 150px auto;
  padding: 30 auto;
  width: 55%;
  max-width: 500px;
  background-color: #F9F9F1;
  color: #7b2739;
  padding: 50px; }
  .modal div.boxclose {
    float: right;
    margin-top: -60px;
    margin-right: -60px;
    cursor: pointer;
    color: #fff;
    border: 2px solid #a46975;
    border-radius: 30px;
    background: #7b2739;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 13px 7px 18px 7px; }
  .modal .boxclose:before {
    content: "×"; }

.table-simple {
  width: auto;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0 1em 0 0;
  border: none; }

tr {
  display: table-row;
  padding-bottom: 10px; }

.hours-table-container {
  max-height: 75px; }

.day-of-the-week .biz-hours {
  margin-bottom: 10px; }

.day-of-the-week {
  min-width: 36px;
  padding-right: 18px;
  text-align: left;
  font-weight: bold; }

footer {
  background: #491722;
  color: white;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  bottom: 0px;
  padding: 1rem;
  z-index: 10; }

/*
*   RESPONSIVE DESIGN ADJUSTMENTS
*/
@media only screen and (max-width: 768px) {
  span.drink-type-imgs-container {
    display: inline-block;
    padding-left: 20px; }
  span.drink-type-imgs-container:first-child {
    padding-left: 20px; } }
