$burgundy: #7b2739;
$lt-tan: #f3f2e1;
$tan: #d8a35d;
$sage: #98a995;

* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: $lt-tan;
}

.video-container{
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  max-width: 100%;

  //TODO fix positioning
  .overlay {
    position: absolute;
    width: 100%;
    height:100%;
    background:rgba(123, 39, 57, .5);
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

//gold star rating
span.checked {
  color: #FFD700; //gold
}
span.unchecked {
  color: #a9a9a9; //dark gray
}

.box {
  margin: 50px auto;
  // padding: 30px 15px;
  max-width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;//off-white
  color:$burgundy;
  border-radius: 15px;
}

img.avatar-icon {
  max-height: 80px;
}

img.drink-type {
  height:60px;
}

img.company-result {
  max-height: 150px;
}
img.company {
  max-width: 350px;
}

.black-screen {
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color:rgba(0,0,0,0.7)
}
.modal {
  margin:150px auto;
  padding:30 auto;
  width:55%;
  max-width: 700px;
  background-color:#F9F9F1;//off-white
  color:$burgundy;
  padding:50px;

  div.boxclose{
    float:right;
    margin-top:-60px;
    margin-right:-60px;
    cursor:pointer;
    color: #fff;
    border: 2px solid #a46975;
    border-radius: 30px;
    background: $burgundy;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 13px 7px 18px 7px;
  }

  .boxclose:before {
      content: "×";
  }
}

.result-container {
  padding: 20px 30px;
}


footer {
	background: $burgundy;
  color: white;
	width:100%;
	min-height:75px;
	position:absolute;
	bottom:0;
	left:0;
  z-index:-1;
}
