$wine-color: #6f0341;

* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #f9f9f9;
}

.fullscreen-video-wrap{
  width:100%;
  height:100%;
  overflow: hidden;

  video{
    width:100%;
  }
}
.overlay {
  position:fixed;
  top:40px;
  left:0px;
  width:100vw;
  height:55vh;
  background-color: $wine-color;
  opacity: 0.5;
}



// TODO get rid of this
img {
  height:125px;
  float: right;
}

.box {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: white;
  border-radius: 15px;
}

.black-screen {
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color:rgba(0,0,0,0.7)
}
.modal {
  // position:fixed;
  // top:10%;
  margin:0 auto;
  width:55%;
  height:40%;
  background-color:white;
  padding:50px;

  .fa-window-close-o {
    position:relative;
    z-index: 1;
    color: black;
    width:40px;
  }
}




footer {
	background: $wine-color;
  color: white;
	width:100%;
	min-height:75px;
	position:absolute;
	bottom:0;
	left:0;
  z-index:-1;
}
