$dk-burgundy: #491722;

.navbar {
  background-color: $dk-burgundy;
  padding:10px 10%;

  #nav-brand {
    font-size: 25px;
    color:white;
  }
  .nav-item a {
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  // a:visited {
  //   color:white;
  //   background: blue;
  //   //TODO why is it underlined?
  //   text-decoration: none;
  // }
  // li.nav-item:hover {
  //   //TODO change color
  //   color: yellow;
  // }
  button {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 18px;
    margin: inherit;
    margin-left: 25px;
    color: white;
  }
}

.pure-menu-list {
  float: right;
}

.nav-link:hover {
  background-color: #d7bec3;
}

.nav-link:active {
  background-color: #d7bec3;
}
