.navbar {
  background-color: #491722;
  padding: 10px 10%; }
  .navbar #nav-brand {
    font-size: 20px;
    color: white; }
  .navbar .nav-item a {
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    text-decoration: none; }
  .navbar button {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    margin: inherit;
    margin-left: 25px;
    color: white; }

.pure-menu-list {
  float: right; }

.nav-link:hover {
  background-color: #d7bec3; }

.nav-link:active {
  background-color: #d7bec3; }
