.navbar {
  background-color: #7b2739;
  padding: 10px 10%; }
  .navbar #nav-content {
    width: 900px; }
  .navbar #navbar-logo {
    font-size: 25px;
    color: white; }
  .navbar div.nav-item a {
    padding: 15px 30px;
    color: white;
    padding-top: 35px;
    font-size: 16px;
    text-decoration: none; }
  .navbar a:visited {
    color: white;
    text-decoration: none; }
  .navbar div.nav-item a:hover {
    color: yellow; }
  .navbar button {
    font-size: 16px;
    padding: 5px 15px;
    margin: inherit; }
