$burgundy: #7b2739;

.navbar {
  background-color: $burgundy;
  padding:10px 10%;

  #nav-content {
    width: 900px;
  }

  #navbar-logo {
    font-size: 25px;
    color:white;
  }
  div.nav-item a {
    padding: 15px 30px;
    color: white;
    padding-top: 35px;
    font-size: 16px;
    text-decoration: none;
  }
  a:visited {
    color:white;
    //TODO why is it underlined?
    text-decoration: none;
  }
  div.nav-item a:hover {
    //TODO change color
    color: yellow;
  }
  button {
    font-size: 16px;
    padding: 5px 15px;
    margin:inherit;
  }
}
