$burgundy: #7b2739;

.navbar {
  background-color: $burgundy;

  #navbar-logo {
    display: inline-block;
    font-size: 25px;
    color:white;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 30px;


    li {
      display: inline;
      color: white;
      a {
        color: white;
      }
    }
  }

  div.navbar-title {
    display: inline;
    margin-right: 75%;
  }
}
